@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.navbar {
  display: flex;
  justify-content: flex-end;
  font-family: "Gilda Display", serif;
  letter-spacing: 3px;
  font-size: 18px;
  background-color: #b59fea;
}

.home-link,
.about-link,
.project-link,
.contact-link,
.resume-link {
  color: black;
  text-decoration: none;
  font-weight: normal;
  padding: 25px;
}

.home-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.resume-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.about-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.contact-link:hover {
  text-decoration: underline;
  font-weight: bold;
}
