@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

.contact-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Sen", sans-serif;
}

.connect-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.connect-sentence,
.connect-thanks {
  font-size: 30px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linked-in,
.github,
.gmail {
  padding: 40px;
}
