@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.contact-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Gilda Display", sans-serif;
}

.connect-title {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 7px;
  margin-bottom: 15px;
}

.connect-title2 {
  font-family: "Gilda Display", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 2px solid #b59fea;
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}

.connect-sentence,
.connect-thanks {
  font-size: 30px;
  padding-top: 25px;
}

.contact-info-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
}

.linked-in,
.github,
.gmail {
  padding: 0px 40px;
}
