@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Gilda Display", sans-serif;
}

.about {
  margin-bottom: 20px;
  animation-duration: 2s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 7px;
  padding-top: 40px;
}

.scramble-container {
  font-size: 18px;
  font-style: italic;
  line-height: 0.8;
  padding-bottom: 20px;
  border-bottom: 2px solid #b59fea;
  width: 35%;
  margin: auto;
}

.scramble-color {
  display: inline-block;
  font-weight: normal;
}

.about-text {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 24px;
}

.skills {
  font-size: 28px;
}

.skill-container {
  text-align: center;
  font-size: 0.7rem;
  padding-top: 15px;
}

.section-container {
  display: flex;
  justify-content: center;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(6, 90px);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-left: 0px;
}

.skill-grid li:hover {
  box-shadow: 0 10px 28px rgb(0 0 0 / 20%);
}

.skill-grid li {
  padding: 8px;
  border-radius: 15px;
  width: 80px;
  transition: all 0.3s ease-in;
  border: 1px solid #eee;
}

.skill-grid li p {
  margin-top: 10px;
  font-family: "Gilda Display", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

ul {
  list-style: none;
}

item-container {
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .about-text {
    font-size: 20px;
  }
  .scramble-container {
    font-size: 16px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .about-title {
    font-size: 28px;
  }
  .scramble-container {
    font-size: 14px;
    width: 75%;
  }
  .about-text {
    padding-left: 8%;
    padding-right: 8%;
  }
  .skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-right: 0px;
  }
}

@media (max-width: 420px) {
  .about-title {
    font-size: 28px;
  }
  .scramble-container {
    font-size: 14px;
    width: 75%;
  }
  .about-text {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-right: 0px;
  }
}
