@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.footer {
  display: flex;
  background-color: #b59fea;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.logo {
  display: flex;
  font-family: "Gilda Display", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-left: 20px;
  padding-right: 460px;
}

.contact-info-imgs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 480px;
}

.linked-in,
.github,
.gmail {
  padding: 0px 20px;
}

@media (max-width: 1400px) {
  .logo {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 550px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
    padding-left: 490px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 10px;
  }
}

@media (max-width: 1336px) {
  .logo {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 500px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
    padding-left: 500px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 8px;
  }
}

@media (max-width: 1190px) {
  .logo {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 530px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 340px;
  }
}

@media (max-width: 1105px) {
  .logo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 440px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 340px;
  }
}

@media (max-width: 1045px) {
  .logo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 320px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
    padding-left: 390px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 7px;
  }
}

@media (max-width: 965px) {
  .logo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 260px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
    padding-left: 290px;
  }
}

@media (max-width: 800px) {
  .logo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 170px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 290px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 6px;
  }
}

@media (max-width: 540px) {
  .logo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 60px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 170px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 7px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 20px;
  }
}

@media (max-width: 420px) {
  .logo {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 45px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 55px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 8px;
  }
}

@media (max-width: 320px) {
  .logo {
    font-size: 10px;
    padding-left: 6px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 3px;
  }
}
