@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.footer {
  display: flex;
  background-color: #b59fea;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.logo {
  display: flex;
  font-family: "Gilda Display", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-left: 20px;
  padding-right: 460px;
}

.contact-info-imgs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 480px;
}

.linked-in,
.github,
.gmail {
  padding: 0px 20px;
}

@media (max-width: 1190px) {
  .logo {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 390px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
    padding-left: 340px;
  }
}

@media (max-width: 800px) {
  .logo {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 170px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
    padding-left: 170px;
  }
}

@media (max-width: 420px) {
  .logo {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 45px;
  }
  .contact-info-imgs {
    align-items: center;
    padding-left: 20px;
  }
  .linked-in,
  .github,
  .gmail {
    padding: 0px 8px;
  }
}

@media (max-width: 320px) {
  .logo {
    font-size: 10px;
  }
}
