@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.home-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 40px;
  line-height: 0.7;
}

.home-intro {
  text-align: left;
  font-family: "Sen", sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.name {
  font-weight: bold;
  font-size: 72px;
  line-height: 0;
  font-family: "Caveat", cursive;
}

.title {
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 150px;
  letter-spacing: 1.5px;
  color: #b59fea;
}
