@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.home-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 80px;
  line-height: 0.7;
}

.home-intro {
  text-align: left;
  font-family: "Gilda Display", sans-serif;
  animation-duration: 2s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name {
  font-weight: bold;
  font-size: 85px;
  line-height: 0;
  font-family: "Caveat", cursive;
  letter-spacing: 7px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 150px;
  letter-spacing: 2px;
  color: #b59fea;
}

.circles {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.circles div {
  position: absolute;
  display: block;
  list-style: none;
  background: #b59fea;
  bottom: -50px;
  animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.circles div:nth-child(2) {
  left: 55%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: #b4ea9f;
}
.circles div:nth-child(3) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: #4812cf;
}
.circles div:nth-child(4) {
  left: 45%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles div:nth-child(5) {
  left: 75%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  background: #e7e35f;
}
.circles div:nth-child(6) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 1s;
  animation-duration: 15s;
  background: #79f1e9;
}
.circles div:nth-child(7) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
